{% extends 'guests/email_templates/email_base.html' %}
{% load static %}
{% block header_image %}{% endblock %}
{% block main_image %}
    {% with "invitation/images/"|add:main_image as main_static_url %}
    <img src="{% if email_mode %}cid:{{ main_image }}{% else %}{% static main_static_url %}{% endif %}"
         alt="{{ couple }}"
         style="display: block; padding: 0; color: #ffffff;"
         class="img-max" border="0"
         height="512" width="512">
    {% endwith %}
{% endblock %}
{% block main_copy %}
    <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
        <tbody>
        <tr>
            <td style="padding: 20px 0 0 0; font-size: 16px; line-height: 20px; font-family: Helvetica, Arial, sans-serif; color: {{ font_color }};"
                class="padding-copy" align="center">
                {{ couple }}'s Wedding<br>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
{% block lead_copy %}
    <tr>
        <td>
            <table border="0" cellpadding="0" cellspacing="0" align="center">
                <tbody>
                <tr>
                    <td>
                        <a href="{% if email_mode %}{{ site_url }}{% endif %}{% url 'invitation' invitation_id %}" target="_blank"
                           style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #000000; text-decoration: none; border-radius: 10px; -webkit-border-radius: 10px;  background-color: #ffffff; border: 1px solid #000000; display: inline-block; margin:10px; padding:10px;">
                            View Invitation
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
{% endblock %}
{% block footer_content %}
    Please <a href="{% if email_mode %}{{ site_url }}{% endif %}{% url 'invitation' invitation_id %}">view the invitation online</a> to rsvp.<br>
    {% if email_mode %}
        <p><a href="{{ site_url }}">{{ site_url }}</a></p>
    {% endif %}
{% endblock %}
