<section id="ceremony" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Ceremony</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead karla">
                    <dt class="spaced">Where</dt>
                    <dd class="spaced"> 
                        We are going to be married in a Catholic ceremony at <a class="bg-dark" href="https://goo.gl/maps/w5Ry3yDrRsi6nbAt6"> Our Lady of Lourdes grotto </a>in St. Peter's Colony, Saskatchewan. 
                        In case of rain or poor weather, the ceremony will take place at <a class="bg-dark" href="https://goo.gl/maps/CQCy2KhZMeQ5vFh58"> St. Joseph's Roman Catholic Parish </a> in Balgonie, Saskatchewan.
                    </dd>
                    <dt class="spaced">When</dt>
                    <dd class="spaced">Saturday, August 26th at 2:00 pm</dd>
                    <dt class="spaced">Attire</dt>
                    <dd class="spaced">Semi-formal</dd>
                    <dt class="spaced"></dt>
                    <dd class="spaced">Please arrange your transportation to the ceremony venue in advance.</dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<section id="reception" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Reception</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead karla">
                    <dt class="sm-spaced">What</dt>
                    <dd class="sm-spaced">Come celebrate our marriage with us!</dd>
                    <dt class="sm-spaced">When</dt>
                    <dd class="sm-spaced">Saturday, August 26, start time TBA</dd>
                    <dt class="sm-spaced">Where</dt>
                    <dd class="sm-spaced">
                            <a href="https://goo.gl/maps/NsjxryBFGmXQzV3W9">Saskatchewan Science Center</a>
                    </dd>
                    <dt class="sm-spaced">Attire</dt>
                    <dd class="sm-spaced">Dressy casual
                    </dd>
                    <dt class="sm-spaced">Parking</dt>
                    <dd class="sm-spaced">Parking is available on-site at the Science Centre.</dd>
                    <dt class="sm-spaced"></dt>
                    <dd> Please plan a safe ride home or back to your hotel. 
                        {% comment %} TODO: uber or taxi link {% endcomment %}
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
