{% load static %}
<div class="container">
        <h2 class="section-heading text-center">Gifts</h2>
        <hr class="primary">
        <p>
            Kirk and Ashley would like to humbly request that guests give money instead of purchasing a gift. 
            We are saving up for our honeymoon (which will be at a later date) as well as looking at some home improvements.
        </p>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="charity-box">
                    <img src="{% static 'bigday/images/gifts/honeymoon.jpg' %}" class="img-responsive" alt="" style="padding-top: 60px;">
                    <h3>Honeymoon Fund</h3>
                    <p>
                        Ashley and Kirk want you to pay for their honeymoon. Please give them some money.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="charity-box">
                    <img src="{% static 'bigday/images/gifts/blue_door_house.jpg' %}" class="img-responsive" alt="">
                    <h3>Home Improvement Fund</h3>
                    <p>
                        Ashley and Kirk are talking about making some improvements to their home. Please give them some money.
                    </p>
                </div>
            </div>
</div>
