<header id="second-header" class="secondary"></header>
<section id="proposal">
    <div class="container">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">The Proposal</h2>
            <hr class="primary">
            <p>
                When Ashley moved in with Kirk, and it seemed like Josie (Kirk's dog) and Kira (Ashley's cat) could get along, Kirk started to try figuring out a ring he could propose to Ashley with.

                And with his considerable detective skills, not only did Kirk miss the Pinterest board that Ashley created with rings she likes, he was also somehow able to get her ring size perfectly wrong too!
            </p><p>
                Since Ashley loves Christmas so much, the original plan was for Kirk to propose at <a href="https://www.facebook.com/people/Ians-Christmas-Lights-Friends-of-1-D-Fundraiser/100064322132908/"> Ian's Christmas Lights</a> but Ashley's family had made a schedule to go to the park the day after Kirk's proposal plan. 

                One day in December, Ashley made a joke about getting pictures with the Cornwall Centre mall Santa, and the plan was in place!
            <p><p>
                Kirk went a few days early, and worked out all of the details with <a href="https://www.facebook.com/search/top?q=rmx%20digital" > RMX Digital  </a> And then on December 23rd, 2022, Kirk and Ashley lined up to get their photo with the mall Santa.

                In the line-up, the RMX Digital workers looked at Kirk, and nodded that they were ready. When it was their turn, Kirk took their jackets and placed them on a couch, then quickly circled around and dropped to one knee to propose to Ashley, while Santa watched in suspense. 

            </p><p>
                Luckily, Ashley agreed, and it was the greatest Christmas gift that Kirk could have asked for, so Santa didn't have to stress about a big present in 2022! And Ashley loved the ring.

            </p>
        </div>
    </div>
</section>
