<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Our Story</h2>
            <hr class="primary">
            <p>
                On their first date, Kirk was blown away by Ashley's smile and Ashley thought Kirk was exceptionally tall. 
                They bonded over their love of drawing, travel, great TV shows, and talking about their pets. 
                They are excited about their upcoming wedding and would like to share the experience with you, and can't wait for the adventures ahead in their marriage.
            </p>
        </div>
    </div>
</div>
