{% load static %}
<section id="wedding-party" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Bridal Party</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/shelby.jpg' %}" class="img-responsive" alt="">
                    <h3>Shelby Wold</h3>
                    <h4>Matron of Honour</h4>
                    <p>Never without a spool of yarn, Shelby is Ashley's older sister, role model, and compulsary friend.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/laura.png' %}" class="img-responsive" alt="">
                    <h3>Laura Teigrob</h3>
                    <h4>Bridesmaid</h4>
                    <p>Ashley once promised to marry Laura's brother, who she has never met, so that they could be "true sisters". She made Laura a bridesmaid to make up for breaking her promise.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/amelia.jpg' %}" class="img-responsive" alt="">
                    <h3>Amelia Steinhubl</h3>
                    <h4>Bridesmaid</h4>
                    <p>Amelia and Ashley have been friends since they were in Grade 2. Amelia lives on a dairy farm with her two adorable girls Saydee and Wrenlee and her husband, Brendan.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-offset-2 text-center ">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/melody.png' %}" class="img-responsive" alt="">
                    <h3>Melody Findlay</h3>
                    <h4>Bridesmaid</h4>
                    <p>Mel mailed Kirk's passport when they were destitute and needed to fly out of Montreal. Her and Ashley have been pals since their days at the U of R.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-2 text-center align-right">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/mikayla.png' %}" class="img-responsive" alt="">
                    <h3>Mikayla Preete</h3>
                    <h4>Bridesmaid</h4>
                    <p>Mikayla and Ashley share an interest in computers, dogs, and drawing. Fun fact: they both work at FCC.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="wedding-party" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Groomsmen</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/nick.png' %}" class="img-responsive" alt="">
                    <h3>Nick Barnes</h3>
                    <h4>Best Man</h4>
                    <p>Nick and Kirk have been friends for over ten years, since making fun of a shared friend’s Ed Hardy shirt. Nick is a teacher in Regina, is married to Amy, and has two boys and a dog and a cat.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/eddy.png' %}" class="img-responsive" alt="">
                    <h3>Eddy Nkgonlo</h3>
                    <h4>Groomsman</h4>
                    <p>Eddy once lived with Kirk and the two watched The Wire together, they remain friends even though Eddy used to jump ahead in episodes.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/matt.jpeg' %}" class="img-responsive" alt="">
                    <h3>Matt Schmeichel</h3>
                    <h4>Groomsman</h4>
                    <p>Matt carries Kirk in COD and is the most devoted Lakers fan of all time.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-offset-2 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/jeff.png' %}" class="img-responsive" alt="">
                    <h3>Jeff Rumancik</h3>
                    <h4>Groomsman</h4>
                    <p>Jeff and Kirk have been friends since Kindergarten in Lipton School. Jeff works for the city of Regina, and farms in Lipton. He is married to Melanie, with a son and a dog.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-2 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/justin.jpeg' %}" class="img-responsive" alt="">
                    <h3>Justin Sauer</h3>
                    <h4>Groomsman</h4>
                    <p>Justin was the "Kramer" of the Fiege household and somehow, after getting into so much trouble at school, both Kirk and Justin are teachers now.</p>
                </div>
            </div>
        </div>
    </div>
</section>
