<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Where to Stay</h2>
            <hr class="primary">
            <p>
                We have two hotel booking codes for those who are coming in to Regina for the wedding.
            </p>
            <table class="table table-bordered">
                <tr>
                    <th class="col-md-2">Ramada in Emerald Park</th>
                    <td>
                        To book, you can call the hotel directly at <a href="tel:3065255300">306-525-5300</a> or use this  <a href="https://www.wyndhamhotels.com/ramada/emerald-park-saskatchewan/ramada-emerald-park-regina-east/rooms-rates?&checkInDate=08/25/2023&checkOutDate=08/27/2023&groupCode=CGHERM">link. </a>
                    </td>
                    <td>
                        $142/night with discount
                    </td>
                </tr>
                <tr>
                    <th>Royal Hotel Regina</th>
                    <td>
                        The block at Royal Hotel Regina opens on July 25th, 2023. Call the hotel at <a href="tel:3065866755">306-586-6755</a> to make a reservation. The block is under the name <b>Fiege Herman</b> with code <b>082523FHW.</b>  
                    </td>
                    <td>
                        $129/night with discount
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
