<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Where to Stay</h2>
            <hr class="primary">
            <p>
                We will have a hotel block reserved at the HOTEL in WHITE CITY, which is in between the ceremony and reception locations. 
                Please arrange your transportation to St. Peter's Shrine in advance or let us know if you need help finding someone to carpool with. 
            </p>
            <table class="table table-striped">
                <tr>
                    <th class="col-md-2">Hotel in White City</th>
                    <td>
                        The <a href="http://hiltongardeninn3.hilton.com/en/hotels/ontario/hilton-garden-inn-niagara-on-the-lake-XLVNLGI/index.html">Hilton Garden Inn</a> is conveniently located just off the highway and very close to the wedding venue.
                        It is about a 20 minute drive to downtown Niagara-on-the-Lake.
                        We have a block of discounted rooms reserved there - use the code <code>LZW16</code> to get the group discount.
                    </td>
                </tr>
                <tr>
                    <th>Other Accomodation</th>
                    <td>
                        Maybe there is another recommended accomodation we could use. 
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
